body {
	background-color: ghostwhite;
	font-family: Comic sans MS;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: darkslategrey;
	color: ghostwhite;
}

h1 {
	font-size: 80px;
	font-weight: bold;
	margin: 2%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

form {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e7c7a6;
	color: darkslategrey;
	height: 300px;
	width: 300px;
	margin: 20px;;
	border-radius: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}

input {
	background-color: darkslategrey;
	color: ghostwhite;
	border: none;
	padding: 10px 20px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

input:hover {
	background-color: ghostwhite;
	color: darkslategrey;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);	
}